<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>User</title>
</head>
<body>
	<h1>Hello, {{user.username}}!</h1>
	<p>Your rating is: {{user.rating}}</p>
	<p>Your list of Articles:</p>
	{% for i in articles %}
		<p>Name: <a class="nav-item nav-link" href="/article/{{i.id}}/user/{{user.id}}">{{i.name}}</a></p>
		<p>Category: {{i.category}}</p>
		<p>Date added: {{i.date_added}}</p>
		<hr>
	{% endfor %}
	<form method="GET", action="#"><input type="submit" name="Add", value="Add Article"></form>
</body>
</html>